<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/recipes_c.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recipes_c.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<title>Recipes</title>
</head>
<body>
	<div id="nav">
		<ul>
		  <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
		  <li><a href="{{ url_for('about') }}">About</a></li>
		  <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
		  <li><a href="{{ url_for('share_your_recipe') }}">Share Your Recipe!</a></li>
		</ul>
	</div>

	<div id="main_div">
	</div>
	<div id="texts">
		<h1>All The Best Recipes.</h1>
		<h2>In one place.</h2>
	</div>
	
	<form class="buttonsS" method="GET" action="/all_recipes">
		<button class="btn-hover color-10">View All Recipes</button>
	</form>		

	<div id="under">
		<h2 id="title2">The Top Recipes:</h2>
	</div>

	<div class = "pos">
	<div id = "table">
		<div class = "row" style="top: 40%;">
			{% for recipe in top_recipes %}
				<div class = "col-md-3">
					<div class = "card" style="min-height: 350px;">
					  <img src= {{ recipe.pic }} height="150"; >
					  <h1>{{ recipe.r_name }}</h1>
					  <p class="price">By: {{ recipe.cook_name }}</p>
					  <p class="price">Rank: {{ recipe.average_rank }}</p>
					  <form action="/recipe" method="POST">
					  	<form class="buttonsC" method="POST" action="/recipe">
					      	<input type="checkbox" name="recipe_id" value= {{ recipe.id }} checked="checked" style="opacity:0;">
							<button class="btn-hover color-10">View Recipe</button>
						  </form>
					  </form> 
					</div>
					<br>
					<br>	
				</div>
			{% endfor %}
		</div>
		</div>
	</div>

</body>
</html>
